.container-card-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  // width: 100vh;
  justify-content: space-between;

}

.header-wrapper {
  margin-top: 60px;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 40px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 130px;
  margin-top: 16px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.img-placeholder-dashboard {
  border-radius: 6px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.fa-trash {
  color: #7DB23C;
}

.fa-plus {
  color: #7DB23C;
}

.card-box {
  box-shadow: 0 0 40px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.right-content p {
  font-size: 13px;
  color: $gray;
}

#signal-top {
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 50px;

  background-color: #4ade80;
}

#signal-middle {
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 50px;

  background-color: #fbbf24;
}

#signal-bottom {
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 50px;

  background-color: #e9243e;
}
