<header class="header-main">

  <div class="sticky-navbar">
    <div class="navbar-wrapper px-5 py-3">

      <nav class="navbar">
        <a href="/" class="brand-logo">airbnbeast</a>
        <a href="/users/password/new" class="btn btn-navbar">Sign Up</a>
      </nav>

      <div class="search-wrapper">
        <div class="searchbar py-3 ps-5 pe-3 w-100">

          <div class="border-right search-items pe-4">
            <label for="">Animal breed</label>
            <input type="text" class="border-0"  placeholder="How much do you want to suffer?">
          </div>

          <div class="border-right search-items px-4 border-start border-end">
            <label for="">Arrival date</label>
            <input type="text" class="border-0"  placeholder="When?">
          </div>

          <div class="border-right search-items px-4">
            <label for="">Departure date</label>
            <input type="text" class="border-0" placeholder="If you are still alive...">
          </div>

          <a href="#" class="btn rounded-green-btn d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="header-card-wrapper w-100 px-5 pt-3">
    <div style="background-image: url('https://images.unsplash.com/photo-1528158222524-d4d912d2e208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2040&q=80')" class="card-header">
      <div class="content-wrapper d-flex flex-column align-items-center mb-4">
        <h4>Nobody wants your Venomous Viper? <br> That's fine.</h4>
        <a href="/beasts" class="btn btn-default my-4">I am flexible</a>
      </div>
    </div>
  </div>

</header>
