<header class="header-main">

  <div class="sticky-navbar">
    <div class="navbar-wrapper px-5 py-3">

      <nav class="navbar">
        <a href="/" class="brand-logo">airbnbeast</a>
        <% if current_user %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-navbar"%>
        <% elsif !current_user %>
          <a href="/users/sign_in" class="btn btn-navbar">Sign In</a>
        <% end %>
      </nav>

      <div class="search-wrapper">
        <div class="searchbar py-3 ps-5 pe-3 w-100">

          <div class="border-right search-items pe-4">
            <label for="">Animal breed</label>
            <input type="text" class="border-0"  placeholder="How much do you want to suffer?">
          </div>

          <div class="border-right search-items px-4 border-start border-end">
            <label for="">Arrival date</label>
            <input type="text" class="border-0"  placeholder="When?">
          </div>

          <div class="border-right search-items px-4">
            <label for="">Departure date</label>
            <input type="text" class="border-0" placeholder="If you are still alive...">
          </div>

          <a href="#" class="btn rounded-green-btn d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="header-card-wrapper w-100 px-5 pt-3">
    <div style="background-image: url('https://images.unsplash.com/photo-1528158222524-d4d912d2e208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2040&q=80')" class="card-header">
      <div class="content-wrapper d-flex flex-column align-items-center mb-4">
        <h4>Nobody wants your Venomous Viper? <br> That's fine.</h4>
        <a href="/beasts" class="btn btn-default my-4">I am flexible</a>
      </div>
    </div>
  </div>

</header>

<section class="overview-section">
  <h3 class="section-title my-5">Super cute animals to take care of</h3>

  <ul class="card-list d-flex">

  <div class="card-sm" style="background-color: #7DB23C">
    <img class="img-placeholder w-100" style="background-image: url('https://ak.picdn.net/shutterstock/videos/15936448/thumb/1.jpg')">
    <div class="card-infos">
      <h3>Pipounette</h3>
      <p>34 kilometers away</p>
    </div>
  </div>

  <div class="card-sm" style="background-color: #284942">
    <img class="img-placeholder w-100" style="background-image: url('https://cdn.roaring.earth/wp-content/uploads/2019/05/CATERS_Jeremy_Wade_Extreme_Fishing_01.jpg')">
    <div class="card-infos">
      <h3>Sucre d'orge</h3>
      <p>42 kilometers away</p>
    </div>
  </div>

  <div class="card-sm" style="background-color: #BDBD2C">
    <img class="img-placeholder w-100" style="background-image: url('https://media.istockphoto.com/photos/close-up-of-a-tigers-face-picture-id91820330?k=20&m=91820330&s=612x612&w=0&h=7eJznJXXZo_7zDD8vZz6nCxFCSeSvAkE42klLowbr-Q=')">
    <div class="card-infos">
      <h3>Tigrou</h3>
      <p>34 kilometers away</p>
    </div>
  </div>

  <div class="card-sm" style="background-color: #7B7E6C">
    <img class="img-placeholder w-100" style="background-image: url('https://www.catersnews.com/wp-content/uploads/2015/03/14_CATERS_TERRIFYING_HIPPO_CHARGE_13-800x498.jpg')">
    <div class="card-infos">
      <h3>Satan</h3>
      <p>60 kilometers away</p>
    </div>
  </div>

  </ul>
</section>

<section class="asking-section px-5 my-5">
  <div class="img-placeholder">
  <div class="content-wrapper">
    <h3>Questions about the reception of your companions?</h3>
    <a href="" class="btn btn-default my-5">Asking questions of survivors</a>
  </div>
  </div>
</section>

<footer class="footer w-100">
  <div class="top">
    <p>Ready for an unforgettable experience?</p>
    <h2>Sign up now!</h2>
    <a href="#" class="btn btn-default my-4">Get me in!</a>
  </div>
  <p>Copyright © 2022. airbnbeast. All rights reserved.</p>
</footer>