<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>test cloudniary :</h2>
<%= cl_image_tag("production/stalker_image_vqabvz.jpg",
      width: 400, height: 300, crop: :fill) %>

<h6><%= link_to 'See our beasts', beasts_path %></h6>
