.beast-card {
  display: flex;
  padding: 25px;
  border: none;

  .img-placeholder {
    overflow: hidden;

    width: 300px;
    height: 200px;

    border: none;
    border-radius: 10px;

    background-size: cover;
    background-repeat: no-repeat;
  }

  h6 {
    font-size: 13px;
    font-weight: 400;
    color: $gray;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 13px;
  }

  p {
    font-size: 13px;
    font-weight: 300;
    color: $gray;
    margin: 4px 0;
  }

  i.fa-star {
    font-size: 14px;
    color: $green
  }

  .reviews {
    display: flex;
    justify-self: flex-end;
  }

  .note {
    font-size: 13px;
    font-weight: 600;
    color: black;
  }
}