// Import your components CSS files here.
@import 'map';

.brand-logo{
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;

  color: $white;
}

.brand-logo:hover {
  color: white;
}

.site-content {
  display: flex;
  height: calc(100vh - 120px);
}

.beasts-list {
  padding-top: 64px;

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  hr {
    color: $gray;
  }
}
