.map {
  position: fixed;
  bottom: 0;
  height: 100%;
  right: 0;
  background-color: #e6e5ec;
}

.mapboxgl-ctrl, .mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
