.navbar-wrapper {
  position: relative;
  min-height: 120px;

  background-color: $black;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: black
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dropdown-menu.show {
  display: block;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -70px;
  margin-top: 0.125rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.376);
}
